.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    .mainFirstColumn {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 50%;
        height: 445px;
        .mainContent {
            img {
                width: 640px;
                height: 10px;
                object-fit: cover;
                margin: -10px 0px 0px -60px;
            }
            .title {
                font-size: 64px;
            }
        }
        .qualificationsContainer {
            display: flex;
            flex-direction: row;
            width: 100%;
            .qualification {
                display: flex;
                justify-content: center;
                align-items: center;
                width: max-content;
                margin: 0px 30px 0px 0px;
                h1 {
                    font-weight: 900;
                }
                p {
                    margin-left: 5px;
                    font-size: 14px;
                }
            }
        }
    }
    .mainSecondColumn {
        background: linear-gradient(223.81deg, rgba(0, 71, 255, 0.2) -2.7%, rgba(84, 210, 202, 0.2) 100.59%);
        border-radius: 20px;
        width: 455px;
        height: 445px;
        img {
            height: 530px;
            margin-top: -85px;
        }
    }
}

.bulletPointsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    h4, p {
        margin: 0px;
    }
    .bulletPointsHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 30px;
        h2 {
            margin-bottom: 0px;
        }
        img {
            height: 10px;
            width: 300px;
            object-fit: cover;
        }
        p {
            margin-top: 15px;
        }
    }
    .bulletPointsContent {
        display: flex;
        .bulletPoint {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            position: relative;
            padding: 0px 20px;
            img {
                height: 170px;
            }
            div {
                height: 20px;
                width: 20px;
                background-color: $primaryColor;
                position: absolute;
                border-radius: 50%;
                box-shadow: $box-shadow;
                color: white;
                right: 162px;
                p {
                    font-weight: 600;
                    font-size: 13px;
                    padding: 1.4px;
                }
            }
        }
        & :first-child, :last-child {
            img {
                margin-top: 50px;
            }
            div {
                top: 50px;
            }
        }
    }
}

.experienceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    .experienceFirstColumn {
        width:50%;
        img {
            height: 600px;
            width: 450px;
            object-fit: cover;
            border-radius: 20px;
            box-shadow: $box-shadow;
        }
    }
    .experienceSecondColumn {
        h4, p {
            margin: 0px;
        }
        .experienceHeader {

        }

        .experienceContent {
            .experience {
                display: flex;
                margin: 20px 0px;
                .experienceNumber {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 30px;
                    min-width: 30px;
                    background-color: black;
                    border-radius: 50%;
                    margin-right: 20px;
                    p {
                        font-weight: 600;
                        margin-top: 2px;
                    }
                }
                .experienceContentInner {
                    div {
                        display: flex;
                        width: 90%;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}