$primaryColor: #0047FF;
$secondaryColor: #348cff;

$grey1: #CBCBCB;
$grey2: #AAAAAA;
$grey3: #7A7A7A;

$underlineImage: linear-gradient(268.21deg, rgba(0, 71, 255, 0.7) 13.06%, rgba(52, 182, 255, 0.7) 72.84%), url("../images/underline.png");

$backgroundImage: linear-gradient(180deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.6375) 100%), url("../images/deltaBackground.png");

$box-shadow: 0px 2px 10px rgba(0,0,0,0.1);